body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, rgba(42,160,250,1) 0%, rgba(0,45,209,1) 100%);
    overflow-x: hidden;

}
div { border: solid 1px black }
.npm {
    padding: 0;
    margin: 0
}
span.subtitle1 {
    color: black;
}
a.btn.blinkz {
    text-decoration: none;
    color: white;
    /*background-color: #007bff;*/
    background-color: transparent;
    border-radius: 25px;
    /*box-shadow: 0px 3px 5px 0px #c2c2c2;*/
    transition: .2s;
    border: solid white 1px;
}
a.btn.blinkz:hover {
    margin-top: -5px;
    color: transparent;
    /*background-color: #E84176;*/
    background-color: white;
    color: #E84176;
}
a.btn.blinkz.b-red { background-color: #fb3640 }
a.btn.blinkz.b-blue { background-color: #1abbe6 }
span.thiner0 {
    font-weight: 200;
}
.subz { letter-spacing: 0; }
.linez-decor {
    height: 3px;
    background-color: #2186f1;
    width: 10%;
}
.flexz { display: flex; }
.flexz-col { display: flex; flex-flow: column nowrap; }
.flexz-row { display: flex; flex-flow: row wrap; }
.flexz-wrapp { flex-wrap: wrap }
.midz { align-items: center; flex-flow: column; }
.midz2 { 
    display: flex;
    /* align-content: center; */
    justify-content: center;
    flex-flow: column;
}

.pdz1 { padding: 1% }
.pdz2 { padding: 2% }
.pdz3 { padding: 3% }
.pdlr5 { padding-right: 5%; padding-left: 5% }
.aright { text-align: right; }
.aleft { text-align: left; }
span.bolder0.ft-wht { color: white }
.fnt-wht { color: white; }

.contentz-full {
    display: flex;
    flex: 1 100%;
}
.contentz-side { flex: 1; text-align: center; }
.contentz {
    flex: 4;
    text-align: center;
}
.stemz {
    display: flex;
    flex-flow: row nowrap;
}
.stemz.stemz_mid { 
    justify-content: center;
    flex-wrap: wrap;
}
.cellz-d3 { flex: 1 1 calc(100%/3); }
.cellz-d4 { flex: 0 0 25%; max-width: 25%;}
.cellz-d2 { flex: 0 0 calc(100%/2); }
.cellz-d8 { flex: 0 0 calc(100%/8); max-width: calc(100%/8); text-align: center; }
.cellz-d10 { flex: 0 0 calc(100%/10); max-width: calc(100%/10); }

.cellz-1 { flex: 0 0 100%; max-width: 100%}
.cellz-2 { flex: 0 0 20%; max-width: 20%}
.cellz-10 { flex: 0 0 calc(100%/10); }
.cellz-3 { flex: 0 0 30%; max-width: 30%;}
.cellz-4 { flex: 0 0 40%; max-width: 40%;}
.cellz-6 { flex: 0 0 60%; max-width: 60%;}
.cellz-7 { flex: 0 0 70%; max-width: 70%;} 
.cellz-5 { flex: 0 0 50%; max-width: 50%;}

.cellz-flexy {

}
.labelz {
    border-radius: 25px;
    background-color: white;
    font-weight: 600;
    color: #6d6d6d;
    margin: 1.5% 1%;
}
.wrapperz { 
    display: flex;
    flex: 1;
    overflow: hidden;
}
.fl-auto { 
    flex: all; 
}
.cover-video {
    display: block;
    width: 60%;
    height: 100%;
}
.thisv {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
}
.img-ovf {
    overflow: hidden;
    height: 400px;
}
.img-ovf img{
    height: 100%;
    position: relative;
}

/*-------------- Menu Bar -------------*/
.wzbar {
    height: 60px;
    /*background: linear-gradient(to right, rgba(42,160,250,1) 0%, rgba(0,45,209,1) 100%);*/
    background: linear-gradient(to right, rgba(138,117,255,0.1) 0%, rgba(138,0,207,0.2) 100%);
    padding: 10px 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: white;
}
.wzbargell {
    
}
.brandz { 
    padding-right: 1%;
    width: 6%;
}
.brandz img { max-width: 100%; }
.brandz-font { width: 10% }
.menuz {
    /*width: 79%;*/
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.m-itemz {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 15px;
    opacity: 0.8;
}
.barz-nav { 
    display: none; 
}
.wzbarjel {
    /*height: 100%;*/
    display: block !important;
}
.barz-nav i.fas.fa-bars { font-size:24px; }

/*============Landing=====================*/
#landingz {
    margin: auto;
    text-align: center;
    /*background-image: url(../images/wifipool.png);
    background-repeat: no-repeat;
    background-position: top;*/
}
.mottoz {
    font-size: 30px;
    color: #e0e0e0;
    letter-spacing: 3px;
}

.mottoz-desc {
    width: 100%;
    display: block;
    color: white;
    font-size: 18px;
}
.left-img {
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin-bottom: -3px;
}
.right-img {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: -3px;
}
.wifiabs {
    width: 200px;
    height: 200px;
    background-image: url('../images/wifipool.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}
.bolder2 { 
    font-size: 30px; 
    font-weight: 600;
    color: #002642;
}
.bolder1 { 
    font-size: 30px; 
    font-weight: 600;
    color: white;
}
.bolder0 {
    font-size: 50px; 
    font-weight: 600;
    color: white;
}
h1,h2,h3.title-sec {
    color: #2186f1;
    padding: 3% 5% 1% 5%;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
}
.content-sect {
    display: flex;
    flex-flow: row wrap;
}
/*---------------SECTION SLIDE--------------*/
.slidez-wrapp {
    position: relative;
    height: 450px;
    overflow: hidden;
}
.slidez-content {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 25%;
    width: 100%;
    text-align: center;
}
.slidez-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;   
    text-align: center;
}
.slidez-item {
    display: none;
    margin-left: 0;
}
/* Fading animation */
.faded {
  animation-name: slidezz ;
/*  animation: cubic-bezier(1,.015,.295,1.225);*/
  animation-direction: alternate;
  animation-duration: 5s;
}
/*.faded:hover {
    animation: paused;
}*/
@keyframes slidezz {
    0% { margin-left: 100%; }
    20% { margin-left: 0%;}
    40% { margin-left: 0%;}
    60% { margin-left: 0%;}
    80% { margin-left: 0%;}
    100% { margin-left: -100%;}
}

@keyframes faded {
  from {opacity: .4} 
  to {opacity: 1}
}

/*---------------SECTION ABOUT-------------*/
#sectabout {
    background-color: white;
}
#sectabout h2.title-sect {
    padding: 0;
    text-align: right;
}
.add-lr-pd {
    /*padding: 5%;*/
    /*padding-left: 5%;
    padding-right: 5%;*/
}
.sectitle {
    padding: 1%;
    text-align: center;
}
span.bolder0 { color: #0e52de }
.sectcontent {
    display: flex;
    flex-flow: row;
    /*align-items: center;*/
}
.img-side1 {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-side1 img{
    max-width: 40%;
}
.img-sider {
    flex: 1 auto;
    text-align: right;
}

/*by:zkycloudz@gmail.com*/
/*----------SECTION produk merchant user--------*/
#sectmu {
    /*background: linear-gradient(to right, rgba(42,160,250,1) 0%, rgba(0,45,209,1) 100%);*/
    /*background-color: #E84176;*/
    /*background: linear-gradient(to right, rgba(21,188,221,1) 0%, rgba(21,188,221,1) 50%, */
        /*rgba(232,65,118,1) 50%, rgba(232,65,118,1) 100%);*/
    /*background: linear-gradient(to right, rgba(232,65,118,1) 0%, rgba(232,65,118,1) 50%, 
        rgba(21,188,221,1) 50%, rgba(21,188,221,1) 100%);
        */
    background: linear-gradient(to right, #dd3366 0%, #dd3366 26%, #f24e85 40%, #00bcdd 50%, #00bcdd 40%, #00bcdd 50%, #1188dd 74%, #1188dd 100%);
    padding-bottom: 7%;
    color: white;
}
#sectmu .feat-desc {
    color: #f0f0f0;
}
#sectmu .feat-desc h3 {
    color: white;
}
#sectmu .contentz-side img{
    max-width: 70%;
}
.stemz_conh_imgwrapp--portrait-sectmu {
    position: relative;
    width: 100%;
    height: 100%;
}
.stemz_conh_imgwrapp--portrait-sectmu img{
    max-width: 160% !important;
    /*width: 160%;*/
    /* max-height: 100%; */
    position: absolute;
    /* position: relative; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.blocktitlemu { display: none; }

/*----------SECTION benefit--------------------*/
/*.contentz-side video {
    width: auto;
    height: 100%;
    object-fit: cover;
}*/
#sectbenefit {
    /*background-color: #e01c45;*/
}
.ben-title {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: grey 0px 0px 4px;
}
.contentz-side.img-mu {
        display: block;
    }

/*---------------SECTION FEATURE--------------*/
.box-domino {
    align-content: center;
}
.box-domino-2 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bgm-top { background-color: rgba(251, 54, 64, 1) }
.bgm-bot { background-color: skyblue }
.bgu-top { background-color:  }
.bgu-bot { background-color: rgba(0, 144, 183, 1) }
.bgt-top { background-color: rgba(0, 38, 66, 1) }
.bgt-bot { background-color: pink }

#sect1feature {
    background-color: white;
}   
.feat-desc p {
    margin: 0;
    padding: 0;
}
.feat-body {
    text-align: center;
    margin: 5% 5%;
}
.feat-img {
    padding: 5% 33%;
}
.feat-img img {  max-width: 70%; }
.feat-desc {
    font-size: 1em;
    color: #56626b;
    display: flex;
    flex-direction: column;
}
.feat-desc h3{
    font-size: 1em;
    color: #2c3841;
    font-weight: 600;
}
.feat-foot {
    padding: 5% 3%;
}



/*----------SECTION PRODUK----------*/
#produk {
    background-color: white;
}

.accord-title {
    color: white;
    width: 100%;
}
.accord-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /*animation: slickz;
    animation-duration: 2s; 
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);*/
}
.p-fix-height {
    height: 247px;
}
.mycardz {
    border-radius: 0;
    margin-bottom: 1%;
    border: solid 1px #e0e0e0;
}  
.card-body {
    height: 230px;
}
.contentz-side.aleft { text-align: left; }
.contentz-side.aright { text-align: right; }
.flexz-headcard-prod {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}
.ov-scroll {
    padding-top: 2%;
    padding-bottom: 2%;
    overflow-y: scroll;
}
.ov-scroll::-webkit-scrollbar {
    width: 7px;
    background-color: #f3f1ef;
    border-radius: 12px;
}
.ov-scroll::-webkit-scrollbar-thumb {
    background-color: #5a9de0;
    border-radius: 12px;
}
.addpd-tb {
    padding-bottom: 3%;
    padding-top: 2%;
}

/*-----------Video Section-------------*/
#sect-video-profile {
    background-color: #cacacc;
}
.add-outter {
    padding: 2% 2%;
}
.video-title h3 {
    font-weight: 600;
}
.video-content {
    height: 500px;
    overflow: hidden;
    position: relative;
}
.video-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    order: 1;
}
/*.video-content:hover > .overlay-dark {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
}*/
.overlayz {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlayz a {
    text-decoration: none;
    color: white;
    font-size: 34px;
}
.modalz-overlay {
    background-color: rgba(0,0,0,0.8);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modalz-content {
    display: flex;
    flex-flow: column;
    /*justify-content: center;
    align-content: center;
    align-self: center;*/
    align-items: center;
    padding-top: 3%;
}
.modalz-content video{
    max-width: 90vw;
    float: left;
}
.modalz-title{
    font-weight: 600;
    color: white;
    font-size: 2em;
    padding-bottom: 1%;
}
.modalz-body { display: inline-block; } 
.modalz-body a,i {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding-left: 10px;
}
.video-title { order: 2; }
.cellz-d3.pdz2.walik {
    display: flex;
    flex-flow: column;
}


/*----------Section Partnership---------*/
#sectpartnership {
    background-color: white;
    padding-bottom: 150px;   
}


/*-----------Bookmark------------------*/
section#bookmark {
    background-color: white;
}
div#mark {
    background: linear-gradient(to right, rgba(42,160,250,1) 0%, rgba(0,45,209,1) 100%);
    height: 300px;
}
#mark-img { margin-top: -270px; }
.midz3 {
    justify-content: center;
    height: 100%;
}
.mark_img1 {
    flex: 0 0 50%;
    text-align: right;
}
.mark_img1 img {
    width: 90%;
    margin-right: -30%;
    margin-top: -10%;
}
.mark_img2 {
    flex: 0 0 50%;
    position: relative;
}
.mark_img2 img {
    width: 25%;
    position: absolute;
    bottom: 0px;
    left: 110px;
}


/*-------Mitra White Label---------*/
#mitrawl {
    background-color: white;   
    padding: 5% 1%;
}
.f_dark {
    color: #4c4c4c;
}
img.img-fitz {
    padding: 10%;
    width: 100%;
}


/*--------TEAM---------------------*/
.section-wrapperz {
    height: 250px;
}
.imgz-wrap {
    overflow: hidden;
    height: 250px;
}
.imgz-wrap--trapesium { clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%); }

.imgzky {
    max-width: 100%;
    height: auto;
}
.contactz {
    text-align: right;
    color: white;
    text-shadow: 0px 3px 8px #353535;
}
.btn-extra {
    width: 170px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* position: relative; */
    /* bottom: -50px; */
     left: -100px; 
    padding-bottom: 3%;
    clip-path: ellipse(47% 75% at 50% 80%);
    /* border: solid 2px orange; */
}
a.btn-extra {
    text-decoration: none;
    font-size: 20px;
}
.btn-extral {
    width: 120px;
    height: 50px;
    background-color: white;
    /* display: flex; */
    /* align-items: flex-end; */
    /* justify-content: center; */
    position: relative;
    bottom: -50px;
    left: 42px;
    padding-bottom: 3%;
    clip-path: ellipse(43% 73% at 50% 93%);
    /* border: solid 2px orange; */
}
.btn-extrar {
    width: 133px;
    height: 55px;
    background-color: white;
    /* display: flex; */
    /* align-items: flex-end; */
    /* justify-content: center; */
    position: relative;
    bottom: -19px;
    left: -30px;
    padding-bottom: 3%;
    clip-path: ellipse(44% 77% at 50% 86%);
    /* border: solid 2px orange; */
}
.gsrki {
    margin-left: -290px;
    margin-top: -40px;
}

/*-------------SECTION SHOP dan EVENT------------*/
#secteventshop {
    background-color: white;
}
.shopz {
    width: 50%;
}
#secteventshop.flexz {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}
.col-md-12.npm {
    height: 250px;
    overflow: hidden;
}
.col-md-12.npm img {
    width: 250px;
    height: auto;
    text-align: center;
}
.stemz_conh {
    height: 400px;
}
.stemz_conh_imgwrapp {
    height: 200px;
    position: relative;
    overflow: hidden;
}
.stemz_conh_imgwrapp--portrait {
    height: 400px;
    position: relative;
    overflow: hidden;
}
.stemz_conh_imgwrapp--portrait img{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.stemz_conh_imgwrapp img{
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.imgz-wrap_img-eventshop--mostpop {
    width: 100%;
    /* object-fit: cover; */
    top: -310px;
    position: relative;
    /* object-position: 50% 50%; */
}
.stemz_conh_imgwrapp_category {
    position: absolute;
    z-index: 1;
    height: 0%;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.stemz_conh_imgwrapp--portrait:hover > .stemz_conh_imgwrapp_category {
    height: 100%;
    color: white;
}
.stemz_conh_imgwrapp:hover > .stemz_conh_imgwrapp_category {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*---------CONTACT US--------------------*/
section#contactus {
    /*overflow: hidden;*/
    overflow: hidden;
}
.formz { 
    margin: 5% 15%; 
}
.form-inlinez {
    display: block;
    padding: 2% 1%;
}
form.formz.formz--contactus {
    position: relative;
}
a.formz_submit-elem {
    text-decoration: none;
    position: absolute;
    right: -210px;
    top: 60px;
    width: 30%;
    transform: scaleX(1);
}
textarea,input.form-inlinez_input {
    width: 100%;
    padding: 1% 4%;
    border: none;
    border-radius: 25px;
/*    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;*/
}
#ta-comment {
    min-height: 180px;
    max-height: 250px;
}
#ta-comment::-webkit-scrollbar {
    width: 7px;
    background-color: #f3f1ef;
    border-radius: 12px;   
}
#ta-comment::-webkit-scrollbar-thumb {
    background-color: #5a9de0;
    border-radius: 12px;
}
.cus_img-wrapper {
    position: relative;
   /* width: 100%;*/
}
.cus_img-wrapper h2 {
    color: white;
    text-align: right;
    font-size: 3.3em;
    position: relative;
    right: 118px;
    top: 41px;
}
img.cus-img--decor1 {
    /* position: absolute; */
    /* right: -210px; */
    /* top: 60px; */
    width: 100%;
    /* transform: scaleX(1); */
}
img.cus-img--decor2 {
    position: absolute;
    right: -69px;
    top: 130px;
    width: 70%;
}
img.cus-img--decor3 {
    position: absolute;
    z-index: -1;
    right: -83px;
    top: 100px;
    opacity: 0.5;
    width: 90%;
    transform: translateX(1);
}
/*----------------FOOTER-----------------*/
#footerz {
    padding: 5%;
    height: 200px;
    /*background-color: white;*/
}
.adddrezz {
    display: inline-block;
    color: white;
}
.addrezz_cp {
    padding: 1% 2%;
    color: white;
    display: inline-block;
}
.addrezz_cp i {
    display: inline-block;
    width: 40px;
    height: 40px;
    /*padding: 2% 4% 2% 1%;*/
    color: white;
    float: left;
    font-size: 25px;
}
.foot_cpr {
    padding: 0% 10%;
    color: white;
    text-align: right;
}
.foot_cpr-social {
    padding: 2% 0% 5% 10%;    
}

.foot_cpr-social i{
    font-size: 20px;
    display: inline-block;
    width: 40px;
}