/* Coolors Exported Palette - coolors.co/002642-fb3640-011627-0090b7-00171f */

/* HSL */
$color1: hsla(205%, 100%, 13%, 1);
$color2: hsla(357%, 96%, 60%, 1);
$color3: hsla(207%, 95%, 8%, 1);
$color4: hsla(193%, 100%, 36%, 1);
$color5: hsla(195%, 100%, 6%, 1);

/* RGB */
$color1: rgba(0, 38, 66, 1);
$color2: rgba(251, 54, 64, 1);
$color3: rgba(1, 22, 39, 1);
$color4: rgba(0, 144, 183, 1);
$color5: rgba(0, 23, 31, 1);